# What is the relation between shark attacks, the seasons and the human activity? 
  ###  - By Year and Seasons
  ###  - By Seasons Activities
  ###  - Identify when the attacks were fatal

In [1]:
#import pymysql
#from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import re

In [2]:
#import data into python
df=pd.read_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Labs/module_1/Pipelines-Project/Data/GSAF5.csv', encoding ='cp1252')

#Table overview
#df.head()

In [3]:
#Check data types
df.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

### From the table overview, we can see the following statements:
#* columns 'unnamed: 22' and 'unnamed: 23' are not referenced in the description of the dataset and doesn't contain any (relevant) information.
#* columns 'Case Number.1' and 'Case Number.2'are duplicates of 'Case Number'
#* columns 'date' cannot be nomalised cause of the differents syntaxes but the information can be extract from column 'Case Number'
#=> Proceed to drop those columns

In [4]:
null_cols = df.isnull().sum()
null_cols
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [5]:
df=df.drop(['Unnamed: 22','Unnamed: 23','Case Number.1','Case Number.2','Date'], axis=1)
#df

### Some names of the columns aren't clean or clear enough. Below the list of columns renamed
#* Sex: remove a blank space at the end.

#To remove:
  Country: Changed to Area, since several entrances refer to seas or regions broader than a country.

In [6]:
df.rename(columns={'Sex ':'Sex', 'Country':'Place'}, inplace = True)
#df

#Among the total 5900 events registered, only 137 happened before 1700.
#To evaluate only statistically relevant data, events registered before 1700 will not be considered

In [7]:
df=df[df['Year']>1700]
#df

In [8]:
df.shape

(5852, 19)

#Let's fix 'Sex' column: Typo found on 2 entrances.
#For 'Place': We've reduced the list of countries from the original set of 196 categories, to 174.
#=>For that purpose we have used both regular expressions and manual replacement.

In [9]:
df.replace({'Sex':{'M ':'M'}}, inplace=True)

In [10]:
type(df['Sex'])

pandas.core.series.Series

In [13]:
df['Sex'].value_counts()

M      4723
F       572
.         1
lli       1
N         1
Name: Sex, dtype: int64

In [14]:
# 3 non relevant rows to drop from 'Sex' column
indexNames = (df[ df['Sex']['lli','N','.' ].index
df.drop(df.index['indexNames'], inplace=True)
# Delete these row indexes from dataFrame
#df.drop(indexNames , inplace=True)

SyntaxError: invalid syntax (<ipython-input-14-bd3f0ca19de1>, line 3)

In [13]:
df['Sex'].value_counts()

M      4723
F       572
.         1
N         1
lli       1
Name: Sex, dtype: int64

#remove end ?
#remove start/end blank spaces
#remove 2nd country after /
#df.columnname.str.replace('word','newword')

In [12]:
df.replace(regex={
    r'\?':'', 
    r'\s\/\s[A-Z\s]+': '', 
    r'\s$':'', r'^\s':''
}, inplace=True)

In [13]:
#On 'Place' column, manually fixed some duplicates
df.replace({'Place': { 'UNITED ARAB EMIRATES (UAE)':'UNITED ARAB EMIRATES', 
'Fiji':'FIJI', 'ST. MAARTIN':'ST. MARTIN', 
'Seychelles':'SEYCHELLES', 
'Sierra Leone':'SIERRA LEONE', 
'St Helena': 'ST HELENA', 
'ENGLAND': 'UNITED KINGDOM', 
'SCOTLAND': 'UNITED KINGDOM'}
}, inplace=True)

In [14]:
len(set(df['Place']))

174

In [15]:
#Normalizing column Activity
 #Check how may rows are empty and replace by 'Not Identified'
#Reduce from the original 1418 unique values on Activity to 5: 'Surfing', 'Swimming', 'Fishing', 'Diving' & 'Others'.

In [16]:
df['Activity'] = df['Activity'].fillna('Not_Identified')
#df.replace({'Activity':{'':'Not Identified'}}, inplace=True)

In [17]:
activity_list = df['Activity'].value_counts()
activity_list

Surfing                                      906
Swimming                                     849
Not_Identified                               502
Fishing                                      419
Spearfishing                                 324
                                            ...
Swimming, poaching perlemoen                   1
Catching sharks under government contract      1
Standing on his hands                          1
Diving (Hookah)                                1
Spearfishing, but swimming at surface          1
Name: Activity, Length: 1419, dtype: int64

In [18]:
print(len(activity_list))
print(activity_list[240:300])

1419
Scuba diving (submerged riding a scooter)                                                                                                             1
Chasing shark out of bathing area while riding on a surf-ski                                                                                          1
Diving, attempting to retrieve body of drowning victim wedged between rocks                                                                           1
Scuba diving / culling lionfish                                                                                                                       1
native boats sunk in storm                                                                                                                            1
Swimming alongside yacht Mexico Fiesta                                                                                                                1
40' fishing boat sank                                                                                                                                 1
Row boat (from the gunboat Elcano) was sinking, put finger in hole                                                                                    1
The cutter yacht Cutty Sark sank                                                                                                                      1
Petting captive sharks                                                                                                                                1
Sitting in a boat                                                                                                                                     1
Free diving, collecting shells                                                                                                                        1
Fleet of canoes caught by a squall and charged by sharks.                                                                                             1
Adrift on life raft                                                                                                                                   1
Bringing hooked, harpooned shark onboard boat                                                                                                         1
Swimming 10 m from shore                                                                                                                              1
Filming a documentary                                                                                                                                 1
Paddle Skiing                                                                                                                                         1
Sea Disaster, sinking of the motorship Wingate                                                                                                        1
Gathering shells                                                                                                                                      1
Longline fishing for sharks                                                                                                                           1
Taken as he dived into the water                                                                                                                      1
Fishing - 'tag & release'                                                                                                                             1
Hauling in net with shark in it                                                                                                                       1
Wading, knocked down & swept away by large waves                                                                                                      1
Swimming near pier                                                                                                                                    1
Italian liner Principessa Mafalda sank                                                                                                                1
The steamer Tahiti collided with the ferry Greycliffe                                                                                                 1
Ejected from F3H-2 aircraft                                                                                                                           1
Attempting to retreive a dinghy                                                                                                                       1
Fell overboard from USS Ward                                                                                                                          1
Treading water after survivng crash of the US Navy airship K-74 that was hit by the German submarine U-134                                            1
Fishing from paddleski                                                                                                                                1
Diving for pearls                                                                                                                                     1
Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net                                1
Bending over                                                                                                                                          1
The boat Caribou II sank                                                                                                                              1
Diving for pen shells                                                                                                                                 1
Floating on air mattress                                                                                                                              1
On December 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in Silcily and southern Italy, killing more than 100,000 people    1
Standing alongside surfboard                                                                                                                          1
Escaping from blackbirding vessel                                                                                                                     1
wreck of the State Oil Company ship Permina                                                                                                           1
Paddling in knee-deep water                                                                                                                           1
Swimming, towing surfboard                                                                                                                            1
Fell off surf ski                                                                                                                                     1
Body found on deserted luxury yacht, 38’ Christine                                                                                                    1
Free diving, working on U/W scenes for motion picture                                                                                                 1
Scuba diving, reportedly also spearfishing                                                                                                            1
Floating on inner tube after diving for lobster                                                                                                       1
Commercial diver (submerged or treading water)                                                                                                        1
Surfing amid a shoal of sharks                                                                                                                        1
Removing shark from a trap                                                                                                                            1
Spearfishing with Scuba gear                                                                                                                          1
Scuba diving, attempting to catch a captive shark                                                                                                     1
Fell overboard from P&O steamship Arabia                                                                                                              1
Free diving / modeling                                                                                                                                1
Standing in water with child in her arms                                                                                                              1
Swimming crawl stroke                                                                                                                                 1
Attempting to net shark in shark channel                                                                                                              1
Name: Activity, dtype: int64

In [19]:
print(len(df['Activity'].unique()))

1419

In [20]:
from collections import Counter
list_of_words = df['Activity'].values.tolist()
l_w = [str(i) for i in list_of_words]
', '.join(l_w)
Counter = Counter(l_w)
most_occur = Counter.most_common(100)
most_occur

[('Surfing', 906),
 ('Swimming', 849),
 ('Not_Identified', 502),
 ('Fishing', 419),
 ('Spearfishing', 324),
 ('Bathing', 150),
 ('Wading', 142),
 ('Diving', 116),
 ('Standing', 97),
 ('Snorkeling', 76),
 ('Scuba diving', 74),
 ('Body boarding', 55),
 ('Body surfing', 50),
 ('Treading water', 32),
 ('Kayaking', 30),
 ('Boogie boarding', 28),
 ('Pearl diving', 27),
 ('Free diving', 25),
 ('Fell overboard', 23),
 ('Windsurfing', 18),
 ('Surf skiing', 18),
 ('Boogie Boarding', 16),
 ('Walking', 15),
 ('Shark fishing', 15),
 ('Rowing', 14),
 ('Floating', 13),
 ('Surf-skiing', 12),
 ('Fishing for sharks', 11),
 ('Canoeing', 11),
 ('Surf fishing', 11),
 ('Kayak Fishing', 10),
 ('Freediving', 10),
 ('Sailing', 9),
 ('Sitting on surfboard', 9),
 ('Sea disaster', 8),
 ('Playing', 8),
 ('Diving for trochus', 8),
 ('Paddle boarding', 7),
 ('Fell into the water', 7),
 ('Diving for abalone', 7),
 ('Surfing (sitting on his board)', 7),
 ('Free diving for abalone', 7),
 ('Boating', 7),
 ('Sponge diving', 7),
 ('Kite Surfing', 6),
 ('Sea Disaster', 6),
 ('Murder', 6),
 ('Splashing', 6),
 ('Floating on his back', 6),
 ('Skindiving', 6),
 ('Fishing for mackerel', 6),
 ('Spearfishing on Scuba', 6),
 ('Boat', 5),
 ('Paddleskiing', 5),
 ('Fishing on a boat', 5),
 ('Freedom swimming', 5),
 ('Shipwreck', 5),
 ('Hard hat diving', 5),
 ('Dangling feet in the water', 5),
 ('Jumped overboard', 5),
 ('Diving for beche-de-mer', 4),
 ('Stand-Up Paddleboarding', 4),
 ('Wade Fishing', 4),
 ('Jumping', 4),
 ('Jumped into the water', 4),
 ('Lifesaving drill', 4),
 ('Free diving & spearfishing', 4),
 ('Body-boarding', 4),
 ('Paddling on surfboard', 4),
 ('Spearfishing / free diving', 4),
 ('Scuba diving (submerged)', 4),
 ('Scuba diving (but on surface)', 4),
 ('Skin diving', 4),
 ('Freedom Swimming', 4),
 ('Clamming', 4),
 ('Fishing boat', 4),
 ('Diving for coins', 4),
 ('Seine netting', 4),
 ('Kite surfing', 3),
 ('Scuba Diving', 3),
 ('Body Boarding', 3),
 ('Feeding fish', 3),
 ('Tagging sharks', 3),
 ('Shark watching', 3),
 ('Kayakingishing', 3),
 ('Playing in the surf', 3),
 ('Crayfishing', 3),
 ('Wade fishing', 3),
 ('Spearfishing (free diving)', 3),
 ('Crabbing', 3),
 ('Walking out of the water after surfing', 3),
 ('Fishing for snapper', 3),
 ('Competing in the Woodvale Atlantic Rowing Race', 3),
 ('Unknown', 3),
 ('Floating on a raft', 3),
 ('SCUBA diving', 3),
 ('Surfing, paddling seawards', 3),
 ('Scuba diving & spearfishing', 3),
 ('Shell diving', 3),
 ('Hookah diving for abalone', 3)]

In [21]:
df.rename(columns={'Activity':'unActivity'}, inplace=True)
df_activity = df['unActivity']
activity = []
for a in df_activity:
    if re.search(r'Not_y[\w\s\,]+|Not_[\w\s\,]+|[\w\s\,]+Not_[\w\s\,]+', str(a)):
        a = 'Not_Identify'
    elif re.search(r'Surf[\w\s\,]+|surf[\w\s\,]+|[\w\s\,]+surf[\w\s\,]+', str(a)):
        a = 'Surfing'
    elif re.search(r'Board[\w\s\,]+|board[\w\s\,]+|[\w\s\,]+board[\w\s\,]+', str(a)):
        a = 'Surfing'
    elif re.search(r'Fish[\w\s\,]+|fish[\w\s\,]+|[\w\s\,]+fish[\w\s\,]+', str(a)):
        a = 'Fishing'
    elif re.search(r'Spear[\w\s\,]+|spear[\w\s\,]+|[\w\s\,]+spear[\w\s\,]+', str(a)):
        a = 'Fishing'
    elif re.search(r'Swim[\w\s\,]+|swim[\w\s\,]+|[\w\s\,]+swim[\w\s\,]+', str(a)):
        a = 'Swimming'
    elif re.search(r'Bath[\w\s\,]+|bath[\w\s\,]+|[\w\s\,]+bath[\w\s\,]+', str(a)):
        a = 'Bathing'
    elif re.search(r'Wadi[\w\s\,]+|wadi[\w\s\,]+|[\w\s\,]+wadi[\w\s\,]+', str(a)):
        a = 'Bathing'
    elif re.search(r'Snor[\w\s\,]+|snor[\w\s\,]+|[\w\s\,]+snor[\w\s\,]+', str(a)):
        a = 'Snorkeling'
    elif re.search(r'Div[\w\s\,]+|div[\w\s\,]+|[\w\s\,]+div[\w\s\,]+', str(a)):
        a = 'Diving'
    elif re.search(r'Boat[\w\s\,]+|boat[\w\s\,]+|[\w\s\,]+boat[\w\s\,]+', str(a)):
        a = 'Boating'
    elif re.search(r'Sail[\w\s\,]+|sail[\w\s\,]+|[\w\s\,]+sail[\w\s\,]+', str(a)):
        a = 'Boating'
    elif re.search(r'Crui[\w\s\,]+|crui[\w\s\,]+|[\w\s\,]+crui[\w\s\,]+', str(a)):
        a = 'Boating'
    else: a = 'Others'
    activity.append(a)
df['Activity'] = activity
df = df.drop(['unActivity'], axis=1)

In [22]:
df['Activity'].value_counts()

Surfing         1363
Fishing         1097
Swimming        1002
Others           929
Not_Identify     502
Diving           471
Bathing          327
Boating           83
Snorkeling        78
Name: Activity, dtype: int64

In [23]:
df['Activity'].unique()

array(['Surfing', 'Fishing', 'Bathing', 'Swimming', 'Snorkeling',
       'Others', 'Not_Identify', 'Diving', 'Boating'], dtype=object)

In [24]:
from collections import Counter
list_of_words2 = df['Activity'].values.tolist()
l_w2 = [str(i) for i in list_of_words2]
', '.join(l_w2)
Counter2 = Counter(l_w2)
most_occur2 = Counter2.most_common(100)
most_occur2

[('Surfing', 1363),
 ('Fishing', 1097),
 ('Swimming', 1002),
 ('Others', 929),
 ('Not_Identify', 502),
 ('Diving', 471),
 ('Bathing', 327),
 ('Boating', 83),
 ('Snorkeling', 78)]

Create a new column for dates, getting the information from the column 'Case Number'

In [52]:
df['Date']=df['Case Number']
df['Date'].replace(regex = {r'.[A-Za-z]$':''}, inplace = True)

#Create a new column for the month, extracting it from the 'Case Number' column
#* check if percentage of unrelevant dates : month missing in the data
#=> drop the rows without specified month

In [53]:
df['Month']=[m[5:7] for m in df['Case Number']]

In [54]:
null_month_check=df['Month'].value_counts(normalize=True) * 100
null_month_check

07    10.833903
08     9.911141
09     8.954204
01     8.526999
06     8.099795
12     7.228298
04     7.006152
10     6.954887
03     6.801094
11     6.715653
00     6.544771
05     6.288448
02     6.134655
Name: Month, dtype: float64

In [55]:
#Percentage of month not specified in the df is less than 10%, we decided to do not keep them:

# Get 'Months' of indexes for which column month has value 00
indexNames = df[ df['Month'] == '00' ].index
 
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

#Normalizing the hour, keeping only the values that correspond to a 24h value

In [56]:
df['Time'] = df['Time'].replace(regex = {r'\s[\w\-\d\/\()]+|\-[\w\-\d\/]+|j$|^\>|^\<':'', r'h':':'})
hour = []
time = df['Time']
for h in time:
    if re.search(r'\d{2}\:\d{2}', str(h)) == None:
        h = 'Unknown'
    hour.append(h)
df['Hour'] = hour
df['Hour']

0         13:00
1         11:00
2         10:43
3       Unknown
4       Unknown
         ...
5840    Unknown
5847    Unknown
5848    Unknown
5850    Unknown
5851    Unknown
Name: Hour, Length: 5469, dtype: object

In [57]:
df['Hour'].dtype

dtype('O')

In [58]:
#Change column types
#Change the column Fatal (Y/N) to a boolean, normalizing all the entries to True or False.
#The few unknown values have been trated as non fatal.

In [59]:
df.rename(columns={ 'Fatal (Y/N)' : 'Fatal'}, inplace=True)
df = df.replace({'Fatal': { 'N' : '0', 'Y' : '1', 'n' : '0', 'y' : '1', 'UNKNOWN' : '0', 'F' : '0', '#VALUE!' : '0'}})
df['Fatal'].astype(bool)

0       True
1       True
2       True
3       True
4       True
        ...
5840    True
5847    True
5848    True
5850    True
5851    True
Name: Fatal, Length: 5469, dtype: bool

In [60]:
"""duplicateRowsDF = df[df.duplicated()]
 
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)"""

'duplicateRowsDF = df[df.duplicated()]\n \nprint("Duplicate Rows except first occurrence based on all columns are :")\nprint(duplicateRowsDF)'

# Final Table¶
#10 columns with categorized data selected to further analysis.
#Excluded from this final table the columns with unique values.

In [62]:
final_table = df[['Date', 'Year', 'Month', 'Place', 'Area','Location', 'Activity', 'Sex', 'Fatal']]
final_table.to_csv("/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Labs/module_1/Pipelines-Project/output/cleaned_df_GSAF5.csv")
display(final_table)

,Date,Year,Month,Place,Area,Location,Activity,Sex,Fatal
0,2016.09.18,2016,09,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,0
1,2016.09.18,2016,09,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,0
2,2016.09.18,2016,09,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,0
3,2016.09.17,2016,09,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,0
4,2016.09.15,2016,09,AUSTRALIA,Victoria,Bells Beach,Surfing,M,0
...,...,...,...,...,...,...,...,...,...
5840,1771.07.12,1771,07,USA,NaN,Damiscotte,Fishing,M,1
5847,1742.12.17,1742,12,NaN,NaN,Carlisle Bay,Swimming,M,1
5848,1738.04.06,1738,04,ITALY,Sicily,Strait of Messina,Swimming,M,1
5850,1721.06.00,1721,06,ITALY,Sardinia,"Ponte della Maddelena,",Swimming,M,1
5851,1703.03.26,1703,03,BARBADOS,Southwest coast,Carlisle Bay,Swimming,M,0

In [63]:
final_table.shape

(5469, 9)

#Now can proceed to the analysis

### 10 Cleaned columns 'Place', 'Area','Location':
    * If rows in columns['Place'] has no value => drop lines (42 rows)
    * Remove the space at the beginning of value in 'Place'

In [34]:
#df_for_mysql = df[['Case Number','Date', 'Year', 'Month', 'Hour', 'Place', 'Area','Location', 'Activity', 'Sex', 'Fatal']]
#df_for_mysql.to_csv("/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Labs/module_1/Pipelines-Project/Data/df_for_mysql.csv", encoding = 'utf-8')

In [35]:
#df_toclean=pd.read_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Labs/module_1/Pipelines-Project/Data/df_for_mysql.csv', encoding ='utf-8')

,Unnamed: 0,Case Number,Date,Year,Month,Hour,Place,Area,Location,Activity,Sex,Fatal
0,0,2016.09.18.c,2016.09.18,2016,9,13:00,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,0.0
1,1,2016.09.18.b,2016.09.18,2016,9,11:00,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,0.0
2,2,2016.09.18.a,2016.09.18,2016,9,10:43,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,0.0
3,3,2016.09.17,2016.09.17,2016,9,Unknown,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,0.0
4,4,2016.09.15,2016.09.15,2016,9,Unknown,AUSTRALIA,Victoria,Bells Beach,Surfing,M,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5464,5840,1771.07.12.R,1771.07.12,1771,7,Unknown,USA,NaN,Damiscotte,Fishing,M,1.0
5465,5847,1742.12.17,1742.12.17,1742,12,Unknown,NaN,NaN,Carlisle Bay,Swimming,M,1.0
5466,5848,1738.04.06.R,1738.04.06,1738,4,Unknown,ITALY,Sicily,Strait of Messina,Swimming,M,1.0
5467,5850,1721.06.00,1721.06.00,1721,6,Unknown,ITALY,Sardinia,"Ponte della Maddelena,",Swimming,M,1.0
5468,5851,1703.03.26,1703.03.26,1703,3,Unknown,BARBADOS,Southwest coast,Carlisle Bay,Swimming,M,0.0

In [40]:
#df_toclean

,Unnamed: 0,Case Number,Date,Year,Month,Hour,Place,Area,Location,Activity,Sex,Fatal
0,0,2016.09.18.c,2016.09.18,2016,9,13:00,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,0.0
1,1,2016.09.18.b,2016.09.18,2016,9,11:00,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,0.0
2,2,2016.09.18.a,2016.09.18,2016,9,10:43,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,0.0
3,3,2016.09.17,2016.09.17,2016,9,Unknown,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,0.0
4,4,2016.09.15,2016.09.15,2016,9,Unknown,AUSTRALIA,Victoria,Bells Beach,Surfing,M,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5464,5840,1771.07.12.R,1771.07.12,1771,7,Unknown,USA,NaN,Damiscotte,Fishing,M,1.0
5465,5847,1742.12.17,1742.12.17,1742,12,Unknown,NaN,NaN,Carlisle Bay,Swimming,M,1.0
5466,5848,1738.04.06.R,1738.04.06,1738,4,Unknown,ITALY,Sicily,Strait of Messina,Swimming,M,1.0
5467,5850,1721.06.00,1721.06.00,1721,6,Unknown,ITALY,Sardinia,"Ponte della Maddelena,",Swimming,M,1.0
5468,5851,1703.03.26,1703.03.26,1703,3,Unknown,BARBADOS,Southwest coast,Carlisle Bay,Swimming,M,0.0

In [41]:
#temp_location=pd.read_sql_query("""select `Case Number`as number, Location, `Area` as zone, Place as Country from df_sql_table_gsaf5 where `Area` is not null and Location is not null and Place is not null""",engine)

temp_location=pd.read_sql_query("""select * from df_sql_table_gsaf5 where `Area` is not null and Location is not null and Place is not null""",engine)
temp_location

,MyUnknownColumn,Case Number,Year,Type,Place,Area,Location,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,original order,Activity,Date,Month,Hour
0,0,2016.09.18.c,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",male,M,16,...,,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5993,Surfing,2016.09.18,09,13:00
1,1,2016.09.18.b,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,M,36,...,,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5992,Surfing,2016.09.18,09,11:00
2,2,2016.09.18.a,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",male,M,43,...,,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5991,Surfing,2016.09.18,09,10:43
3,3,2016.09.17,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,M,,...,,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5990,Surfing,2016.09.17,09,Unknown
4,4,2016.09.15,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,male,M,,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5989,Surfing,2016.09.15,09,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5419,5840,1771.07.12.R,1771,Unprovoked,USA,,Damiscotte,male,M,,...,,"C. Moore, GSAF",1771.07.12.R-Damiscotte.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,153,Fishing,1771.07.12,07,Unknown
5420,5847,1742.12.17,1742,Unprovoked,,,Carlisle Bay,2 impressed seamen,M,,...,,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,146,Swimming,1742.12.17,12,Unknown
5421,5848,1738.04.06.R,1738,Unprovoked,ITALY,Sicily,Strait of Messina,male,M,,...,,"C. Moore, GSAF",1738.04.06.R-Messina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,145,Swimming,1738.04.06,04,Unknown
5422,5850,1721.06.00,1721,Unprovoked,ITALY,Sardinia,"Ponte della Maddelena,",male,M,,...,"White shark, 1600-lb female",F. Ricciardi; A. De Maddalena.,1721.06.00-Maddalena.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,143,Swimming,1721.06.00,06,Unknown
5423,5851,1703.03.26,1703,Unprovoked,BARBADOS,Southwest coast,Carlisle Bay,"Samuel Jennings, a deserter from the British f...",M,19,...,,"W.R.Cutter, Vol.1, p.252",1703.03.26-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,142,Swimming,1703.03.26,03,Unknown

In [30]:
#for index, row in df_toclean.head().iterrows():
    #print(index, row['Place'], row['Location'], row['Area'])
#    if row['Place'] == "":
#        #row['Location']
#        query_location ="SELECT Location, Place, `Area` FROM df_sql_table_gsaf5 WHERE Location = '" + row['Location'] + "' AND (`Area` IS not null or `Area` ='') and (Place is not null or `Place` ='') LIMIT 10"
#        temp_location=pd.read_sql_query(query_location ,engine) 
#        df_toclean.xs(row['Case Number'])['Place']
#        #df.iloc[i].Place = temp_location[i].Place
        
#df_toclean

In [ ]:
#df_sql_table_GSAF5 = df
#df_sql_table_GSAF5.to_csv("/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Labs/module_1/Pipelines-Project/output/df_sql_table_GSAF5.csv")