In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Projects/Team Project 3/Data/brasilian-houses-to-rent/houses_to_rent.csv')

In [3]:
df.head(10)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
5,5,1,13,1,1,0,2,acept,not furnished,R$0,"R$2,200",R$42,R$28,"R$2,270"
6,6,1,55,1,1,1,2,acept,furnished,"R$1,950","R$5,000",R$375,R$64,"R$7,389"
7,7,1,55,2,2,1,2,acept,not furnished,R$600,"R$1,300",R$67,R$17,"R$1,984"
8,8,1,82,3,1,1,3,acept,furnished,R$828,"R$2,000",R$109,R$26,"R$2,963"
9,9,1,32,1,1,1,16,acept,not furnished,R$533,"R$2,900",R$0,R$37,"R$3,470"

In [4]:
df.shape

(6080, 14)

In [5]:
df.describe();

In [6]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
df.columns=df.columns.str.replace(' ','_')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city            6080 non-null   int64
 1   area            6080 non-null   int64
 2   rooms           6080 non-null   int64
 3   bathroom        6080 non-null   int64
 4   parking_spaces  6080 non-null   int64
 5   floor           6080 non-null   object
 6   animal          6080 non-null   object
 7   furniture       6080 non-null   object
 8   hoa             6080 non-null   object
 9   rent_amount     6080 non-null   object
 10  property_tax    6080 non-null   object
 11  fire_insurance  6080 non-null   object
 12  total           6080 non-null   object
dtypes: int64(5), object(8)
memory usage: 617.6+ KB

In [9]:
df[df.duplicated()].sum()#there is no duplicate

city                                                            159
area                                                          10219
rooms                                                           285
bathroom                                                        251
parking_spaces                                                   92
floor             43-11---1032511-5---2516255--171136--101636313...
animal            aceptnot aceptaceptaceptaceptaceptaceptaceptac...
furniture         furnishedfurnishednot furnishednot furnishedno...
hoa               R$602R$150R$20R$900R$0R$0R$602R$540R$345R$385R...
rent_amount       R$1,800R$3,142R$1,200R$2,450R$1,100R$1,100R$1,...
property_tax      R$130R$67R$25R$125R$30R$30R$130R$122R$16R$40R$...
fire_insurance    R$23R$40R$19R$32R$14R$14R$23R$11R$12R$27R$70R$...
total             R$2,555R$3,399R$1,264R$3,507R$1,144R$1,144R$2,...
dtype: object

In [10]:
df.isna().sum()#there is no NaN value

city              0
area              0
rooms             0
bathroom          0
parking_spaces    0
floor             0
animal            0
furniture         0
hoa               0
rent_amount       0
property_tax      0
fire_insurance    0
total             0
dtype: int64

In [11]:
df.convert_dtypes()

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,hoa,rent_amount,property_tax,fire_insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"

In [12]:
print(df.floor.isna().sum())#no Nan
print(df.floor.dtype)
print(df.floor.unique())
#An investigation need to be made to convert the value '-' by a numerical value, maybe the mode

0
object
['-' '10' '3' '12' '2' '16' '6' '4' '1' '7' '13' '9' '14' '5' '8' '15'
 '11' '19' '20' '24' '23' '17' '18' '22' '27' '85' '28' '25' '29' '35'
 '21' '31' '99' '26' '68' '32' '51']

In [13]:
df.loc[df.floor=='-'].head(30)

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,hoa,rent_amount,property_tax,fire_insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
16,0,188,2,3,8,-,acept,not furnished,R$0,"R$3,010",R$584,R$46,"R$3,640"
17,1,100,3,2,1,-,acept,not furnished,R$0,"R$3,500",R$260,R$53,"R$3,813"
20,1,155,3,3,2,-,acept,not furnished,R$0,"R$2,650",R$233,R$40,"R$2,923"
23,1,320,3,3,4,-,acept,not furnished,R$0,"R$9,000","R$1,000",R$136,"R$10,140"
29,1,130,3,3,2,-,acept,not furnished,R$0,"R$6,000",R$84,R$91,"R$6,175"
31,1,120,3,1,4,-,acept,not furnished,R$0,"R$3,500",R$234,R$53,"R$3,787"
32,1,250,3,4,2,-,acept,not furnished,R$300,"R$3,480",R$360,R$53,"R$4,193"
35,1,250,4,4,2,-,not acept,not furnished,Sem info,"R$6,600",R$0,R$100,"R$6,700"
38,1,180,3,4,5,-,acept,not furnished,Sem info,"R$3,300",R$266,R$50,"R$3,616"
42,1,340,3,4,3,-,acept,furnished,R$0,"R$9,800",R$392,R$148,"R$10,340"
43,1,90,2,1,0,-,not acept,not furnished,R$0,"R$1,450",R$50,R$22,"R$1,522"
44,0,650,5,4,8,-,acept,furnished,R$0,"R$8,500",R$442,R$128,"R$9,070"
47,1,190,2,3,2,-,acept,not furnished,R$0,"R$13,050","R$1,284",R$197,"R$14,530"
50,1,396,4,4,4,-,acept,not furnished,R$0,"R$10,000",R$750,R$151,"R$10,900"
58,1,90,2,2,0,-,acept,not furnished,R$0,"R$1,700",R$38,R$26,"R$1,764"
61,1,400,4,3,2,-,acept,not furnished,R$0,"R$5,650",R$338,R$85,"R$6,073"
62,1,220,3,3,5,-,acept,not furnished,R$0,"R$7,500",R$0,R$113,"R$7,613"
63,1,750,7,6,5,-,acept,furnished,R$0,"R$5,800",R$559,R$88,"R$6,447"
64,1,20,1,1,0,-,acept,furnished,R$602,"R$1,800",R$130,R$23,"R$2,555"
66,1,22,1,1,0,-,not acept,not furnished,R$250,"R$1,080",R$14,R$14,"R$1,358"
72,1,180,3,2,4,-,not acept,furnished,R$0,"R$11,000",R$667,R$166,"R$11,830"
84,1,170,3,2,2,-,acept,furnished,R$0,"R$3,900",R$267,R$59,"R$4,226"
95,1,250,6,2,2,-,acept,not furnished,R$0,"R$2,472",R$26,R$38,"R$2,536"
96,1,500,3,4,5,-,acept,furnished,R$0,"R$7,620","R$1,094",R$115,"R$8,829"
98,0,120,3,2,3,-,acept,not furnished,R$0,"R$2,500",R$180,R$38,"R$2,718"
99,0,265,3,3,2,-,acept,not furnished,R$0,"R$2,400",R$140,R$37,"R$2,577"
110,1,50,1,1,1,-,acept,not furnished,R$0,"R$1,100",R$0,R$17,"R$1,117"
112,1,80,2,2,2,-,acept,not furnished,R$0,"R$2,465",R$0,R$38,"R$2,503"

In [14]:
print(df.animal.isna().sum())#no Nan
print(df.animal.dtype)
print(df.animal.unique())

0
object
['acept' 'not acept']

In [15]:
#replace the value by numerical value:
dct={'acept':1,'not acept':0}
df.animal=df.animal.map(dct)

In [16]:
print(df.furniture.isna().sum())#no Nan
print(df.furniture.dtype)
print(df.furniture.unique())

0
object
['furnished' 'not furnished']

In [17]:
#replace the value by numerical value:
dct={'furnished':1,'not furnished':0}
df.furniture=df.furniture.map(dct)

In [18]:
print(df.hoa.isna().sum())#no Nan
print(df.hoa.dtype)
print(df.hoa.unique())
print(df.hoa.value_counts())

0
object
['R$0' 'R$540' 'R$4,172' ... 'R$4,916' 'R$3,640' 'R$1,764']
R$0         1291
Sem info     119
Incluso       83
R$1,000       82
R$1,200       71
            ...
R$932          1
R$2,480        1
R$1,132        1
R$1,462        1
R$1,366        1
Name: hoa, Length: 1292, dtype: int64

In [19]:
#Here we have 119 rows with  object value 'Sem info' standing for NaN, I will consider them as 0
#Same for the 83 rows with object 'Incluso', which basically mean that it is already included into the price so equal 0
#Weed to also to get rid of the signs 'R$', ',' and ' '
#let's check the other column first

In [20]:
print(df['rent_amount'].isna().sum())#no Nan
print(df['rent_amount'].dtype)
print(df['rent_amount'].unique())
print(df['rent_amount'].value_counts())

0
object
['R$8,000' 'R$820' 'R$7,000' ... 'R$1,511' 'R$2,713' 'R$6,553']
R$15,000    155
R$3,000     140
R$3,500     135
R$2,000     132
R$2,500     127
           ...
R$3,076       1
R$4,075       1
R$8,880       1
R$1,306       1
R$3,135       1
Name: rent_amount, Length: 1032, dtype: int64

In [21]:
print(df['property_tax'].isna().sum())#no Nan
print(df['property_tax'].dtype)
print(df['property_tax'].unique())
print(df['property_tax'].value_counts())

0
object
['R$1,000' 'R$122' 'R$1,417' ... 'R$3,025' 'R$466' 'R$916']
R$0        1053
R$84         83
R$100        82
R$50         79
R$250        77
           ...
R$739         1
R$1,176       1
R$856         1
R$3,243       1
R$367         1
Name: property_tax, Length: 1036, dtype: int64

In [22]:
print(df['fire_insurance'].isna().sum())#no Nan
print(df['fire_insurance'].dtype)
print(df['fire_insurance'].unique())
print(df['fire_insurance'].value_counts())

0
object
['R$121' 'R$11' 'R$89' 'R$16' 'R$28' 'R$64' 'R$17' 'R$26' 'R$37' 'R$10'
 'R$7' 'R$23' 'R$191' 'R$51' 'R$13' 'R$46' 'R$53' 'R$99' 'R$45' 'R$40'
 'R$33' 'R$136' 'R$103' 'R$41' 'R$83' 'R$178' 'R$91' 'R$39' 'R$20' 'R$49'
 'R$100' 'R$50' 'R$22' 'R$148' 'R$128' 'R$35' 'R$172' 'R$197' 'R$151'
 'R$21' 'R$18' 'R$75' 'R$96' 'R$25' 'R$85' 'R$113' 'R$88' 'R$27' 'R$14'
 'R$153' 'R$5' 'R$42' 'R$166' 'R$36' 'R$6' 'R$102' 'R$127' 'R$59' 'R$79'
 'R$58' 'R$30' 'R$165' 'R$31' 'R$140' 'R$184' 'R$38' 'R$115' 'R$112'
 'R$32' 'R$76' 'R$54' 'R$70' 'R$9' 'R$71' 'R$181' 'R$87' 'R$192' 'R$61'
 'R$12' 'R$65' 'R$226' 'R$63' 'R$163' 'R$55' 'R$108' 'R$77' 'R$52' 'R$34'
 'R$68' 'R$179' 'R$43' 'R$15' 'R$106' 'R$44' 'R$143' 'R$47' 'R$69' 'R$211'
 'R$19' 'R$82' 'R$117' 'R$62' 'R$60' 'R$130' 'R$56' 'R$125' 'R$101'
 'R$149' 'R$29' 'R$97' 'R$74' 'R$8' 'R$109' 'R$159' 'R$57' 'R$84' 'R$110'
 'R$94' 'R$119' 'R$131' 'R$73' 'R$98' 'R$105' 'R$92' 'R$24' 'R$139' 'R$66'
 'R$162' 'R$196' 'R$114' 'R$134' 'R$72' 'R$145' 'R$107' 'R$80' 'R$144'
 'R$146' 'R$3' 'R$48' 'R$185' 'R$160' 'R$135' 'R$4' 'R$124' 'R$164' 'R$90'
 'R$126' 'R$137' 'R$122' 'R$161' 'R$188' 'R$95' 'R$67' 'R$154' 'R$248'
 'R$116' 'R$157' 'R$177' 'R$93' 'R$142' 'R$173' 'R$141' 'R$129' 'R$254'
 'R$155' 'R$221' 'R$194' 'R$111' 'R$132' 'R$210' 'R$189' 'R$86' 'R$78'
 'R$104' 'R$224' 'R$138' 'R$123' 'R$214' 'R$677' 'R$81' 'R$175' 'R$158'
 'R$167' 'R$215' 'R$218' 'R$133' 'R$118' 'R$229' 'R$305' 'R$301']
R$23     163
R$26     161
R$16     149
R$39     142
R$20     136
        ...
R$132      1
R$167      1
R$189      1
R$215      1
R$248      1
Name: fire_insurance, Length: 190, dtype: int64

In [23]:
#We can see that there we can just need to get rid of the sign for those columns

In [24]:
lst=['hoa','rent_amount','property_tax','fire_insurance','total']
for i in lst:
    df[i]=df[i].apply(lambda x: x.strip('R$').replace('Sem info','0').replace('Incluso','0').replace(',','').replace(' ',''))
    df[i]=df[i].astype(float)

In [25]:
print(df.floor.mode())
df.floor=df.floor.apply(lambda x: x.replace('-','0'))
df.floor=df.floor.astype(float)

0    -
dtype: object

In [26]:
df.dtypes

city                int64
area                int64
rooms               int64
bathroom            int64
parking_spaces      int64
floor             float64
animal              int64
furniture           int64
hoa               float64
rent_amount       float64
property_tax      float64
fire_insurance    float64
total             float64
dtype: object

In [27]:
df=df.convert_dtypes()

In [28]:
df.dtypes

city              Int64
area              Int64
rooms             Int64
bathroom          Int64
parking_spaces    Int64
floor             Int64
animal            Int64
furniture         Int64
hoa               Int64
rent_amount       Int64
property_tax      Int64
fire_insurance    Int64
total             Int64
dtype: object

In [29]:
df.floor.mode()

0    0
dtype: Int64

In [30]:
df.floor.median()

4.0

In [31]:
df.floor.mean()

5.672203947368421

In [32]:
df.to_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Projects/Team Project 3/Data/df1_brazil_housing_cleaned.csv', index=False)

In [33]:
df.city.unique()

<IntegerArray>
[1, 0]
Length: 2, dtype: Int64