In [1]:
#import pymysql
#from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Labs/module_1/Pipelines-Project/Output/cleaned_df_GSAF5.csv')

In [3]:
#df=df.drop(['Unnamed: 0'], axis=1)

In [4]:
#df.head()

### 1st view: Seasonality of the attacks

In [5]:
#Binning the data by season on a new column
season_labels=['Winter','Spring','Summer','Fall']
cutoffs= [1,4,7,10,12]
bins = pd.cut(df['Month'], cutoffs, labels=season_labels)
df['Season']=bins

In [6]:
#Ratio of attacks per person
seasonality = df.pivot_table(index=['Season'], values=['Date'], aggfunc= len,fill_value=0)
seasonality = seasonality.rename(columns= {'Date':'Count'})
seasonality['Ratio'] = seasonality['Count'] * 100 / seasonality['Count'].sum()
seasonality = seasonality.round({'Ratio':2})
display(seasonality)

        Count  Ratio
Season
Winter     22  20.37
Spring     41  37.96
Summer     31  28.70
Fall       14  12.96

### 2nd view: indexing the attacks by Activities and Seasons

In [7]:
activity_season = df.pivot_table(index=['Activity', 'Season'], values=['Date'], aggfunc= len, fill_value=0) 
activity_season = activity_season.rename(columns= {'Date' : 'Count'})
activity_season['Ratio'] = activity_season['Count'] * 100 / activity_season['Count'].sum() 
activity_season = activity_season.round({'Ratio' : 2})
activity_season.sort_values(by=['Activity','Ratio'], ascending=False, inplace=True)
display(activity_season)

                 Count  Ratio
Activity Season
Swimming Spring     10   9.26
         Summer      6   5.56
         Fall        3   2.78
Surfing  Spring     15  13.89
         Summer     14  12.96
         Winter     12  11.11
         Fall        5   4.63
Others   Spring     10   9.26
         Summer      6   5.56
         Winter      4   3.70
         Fall        3   2.78
Fishing  Spring      5   4.63
         Winter      4   3.70
         Summer      4   3.70
         Fall        1   0.93
Diving   Winter      2   1.85
         Fall        2   1.85
         Spring      1   0.93
         Summer      1   0.93

In [8]:
fatal_activity = df.pivot_table(index=['Activity', 'Fatal'], values=['Date'], aggfunc= len, fill_value=0) 
fatal_activity = fatal_activity.rename(columns= {'Date' : 'Count'})
fatal_activity['Ratio'] = fatal_activity['Count'] * 100 / fatal_activity['Count'].sum() 
fatal_activity = fatal_activity.round({'Ratio' : 2})
display(fatal_activity)

                Count  Ratio
Activity Fatal
Diving   0          5   4.27
         1          2   1.71
Fishing  0         16  13.68
Others   0         24  20.51
         1          1   0.85
Surfing  0         46  39.32
         1          3   2.56
Swimming 0         15  12.82
         1          5   4.27

In [10]:
df.groupby('Activity').Season.value_counts(normalize=True)

Activity  Season
Diving    Fall      0.333333
          Winter    0.333333
          Spring    0.166667
          Summer    0.166667
Fishing   Spring    0.357143
          Summer    0.285714
          Winter    0.285714
          Fall      0.071429
Others    Spring    0.434783
          Summer    0.260870
          Winter    0.173913
          Fall      0.130435
Surfing   Spring    0.326087
          Summer    0.304348
          Winter    0.260870
          Fall      0.108696
Swimming  Spring    0.526316
          Summer    0.315789
          Fall      0.157895
Name: Season, dtype: float64